[core]
	excludesfile = ~/.gitignore
	editor = nvim
	ignorecase = false
	fsmonitor = true
	untrackedcache = true
[user]
	email = sidsurakanti1@gmail.com
	name = sidsurakanti
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
	ui = auto
[pull]
	rebase = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[github]
	user = sidsurakanti
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenance]
	repo = /Users/sidsurakanti/projects/brainrot
